:host{
  max-width: 100vw;
  min-height: calc(100% - (209px + 98px));

}
label{
  display: block;
    margin-bottom: 10px;
    font-size: 21px;
    font-weight: bold;
    color: #4b5563;
}
  .select-categorey{
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 30px;

  }
select{
  width: 170px;
  height: 30px;
  font-size: 19px;
  border-radius: 8px;
  background-color: #f3eeee;
}
.boxes{
  padding-left: 80px;
  padding-right: 80px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
gap: 20px;
}


