<div class="select-categorey" >
  <label for="Categories">Categories:</label>
<select name="Categories" id="" (change)="filterCategory($event)">
  <option value="All" selected>All</option>
  <option *ngFor="let category of Categories" value="{{category}}">{{category}}</option>
</select>
</div>
<app-spinner-loading *ngIf="loading"></app-spinner-loading>
<div class="boxes" *ngIf="!loading">
  <div class="box"*ngFor="let product of products;">
  <app-box-product [product]="product" (item)="addToCart($event)"></app-box-product>
</div>
</div>
