::ng-deep starfillicon {
  color: #d8d80a;
}
  ::ng-deep svg{
    width: 30px;
    height: 30px;
  }
:host {
  padding-left: 80px;
  padding-right: 80px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-height: calc(100% - (209px + 98px));
  margin: auto;
}
img{
  border-radius: 9px;
}

.slider-container {
  margin: 90px 90px 0 0;
  position: relative;
  width: 60%;
  height: auto;
}



.slider img {
  height: 350px;
  max-width: 300px;
  margin: 12px 0;
}
.content{
  margin: 20px 0 0 120px;

}
.content h1{
  font-size: 40px;
}
.content .description{
  font-size: 18px;
    color: gray;
    margin-top: 16px;
    line-height: 21px;
}
.information p{
margin: 10px 0;
font-size: 20px;
font-weight: 800;
}
.content p > span{
  font-size: 17px;
  font-weight: 900;
}

.price-info .price{
  color: #715050;
  font-size: 40px;
  font-weight: 900;
  margin: 30px 0;
}
button{
  border: none;
  outline: none;
  background-color: rgb(255, 250, 244);
  border: 1px solid rgb(228, 228, 229);
  font-size: 23px;
  padding: 14px;
  border-radius: 26px;
  cursor: pointer;
  width: 230px;
  margin: 30px 0;
}
@media (max-width: 992px) {
  .slider-container{
    flex-direction: column;
    justify-content:flex-start;
    margin: 20px 0 0 70px;

  }
  :host{
    flex-direction: column;
  }

  .content{
    margin: 20px 0 0 70px;
  }
  .content h1{
    font-size: 33px;
  }
  .content p{
    font-size: 24px;
  }
  .content p > span{
    font-size: 18px;
    font-weight: 900;
  }

}
