<div class="content" *ngIf="product">
  <h1>{{product.title}}</h1>
  <p class="description"><span>Description:</span> {{product.description}}</p>
  <div class="price-info">
  <p class="price"><span>price:</span> {{product.price}}$</p>
  <p class="discount"><Span>discount:</Span> {{product.discountPercentage}} %</p>
</div>
<div class="information">
  <p><span>rating:</span> {{product.rating}}</p>
  <p><span>stock:</span> {{product.stock}}</p>
  <p><span>brand:</span> {{product.brand}}</p>
  <p><span>category:</span> {{product.category}}</p>
</div>
</div>
<div class="slider-container" *ngIf="product">
<div class="slider" >
   <img *ngFor="let image of product.images; let i = index" src="{{image}}"  alt="Image" [style.display]="currentIndex === i ? 'block' : 'none'">
</div>
 <div class="thumbnail-gallery" >
   <div class="thumbnails" >
     <img src="{{image}}" *ngFor="let image of product.images; let i = index" alt="Thumbnail" (mouseover)="displayImage(i)">
   </div>
 </div>
</div>
