<app-spinner-loading *ngIf="loading"></app-spinner-loading>
<div class="content" *ngIf=" !loading">
  <h1>{{product.title}}</h1>
  <p class="description"><span>Description:</span> {{product.description}}</p>
  <div class="price-info">
  <p class="price"><span>price:</span> {{product.price}}$</p>
</div>
<div class="information">
  <p><span>rating:</span> {{product.rating.rate}}</p>
  <p><span>stock:</span> {{product.rating.count}}</p>
  <p><span>category:</span> {{product.category}}</p>
</div>
</div>
<div class="slider-container" *ngIf="!loading">
<div class="slider" >
   <img src="{{product.image}}"  alt="Image">
</div>
 <div class="thumbnail-gallery" >
 </div>
</div>
