<div class="header">
  <div class="container">
    <div class="logo">
      <a href=""><img class="logo-img" src="https://img2.fnkeely.com/2016/08/fn_2488_1470727323.png?lossless=1&q=80" alt=""></a>
    </div>
      <ul class="nav-bar">
        <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
        <li><a routerLink="/products" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Products</a> </li>
      </ul>
    </div>
  </div>

