:host{
  position: sticky;
  z-index: 100;
  top: 0;
  width: 100%;
}
.header{
  position: relative;
  background-color: aqua;
}
.header .container{
  padding-left: 80px;
  padding-right: 80px;
  margin: auto;
  min-height: 97.09px;
  display: flex;
  align-items: center;

}
.logo a{
font-size: 30px;
font-weight: 900;
color: #99b3e6;
padding: 7px;
border-radius: 18px;
}
.logo{
flex-grow: 1;
}
.nav-bar{
  display: flex;
}
.nav-bar li{
margin-left: 30px;
position: relative;
overflow: hidden;
}
li a{
  display: block;
  font-size: 18px;
  font-weight: 600;
}
li a::before{
content: "";
height: 2px;
width: 100%;
position: absolute;
background-color: #19c8fa;
bottom: 0;
right: 100%;
transition: all 0.3s linear;
}
a.active ,
.nav-bar li:hover a,
.nav-bar li:hover a pre
{
color: #19c8fa;
background-color: transparent;
}
a.active::before,
.nav-bar li:hover a::before
{
right: 0;
}

.cart pre{
  display: inline;
  background-color: #e97474;
  border-radius: 50%;
  color: white;
  transition: all 0.3s linear;
}
