
.header{
  width: 100%;
  background-color: aqua;
}
.header .container{
  padding-left: 80px;
  padding-right: 80px;
  margin: auto;
  min-height: 97.09px;
  display: flex;
  align-items: center;

}
.logo a{
font-size: 30px;
font-weight: 900;
background: blue;
color: white;
padding: 7px;
border-radius: 18px;
}
.logo{
flex-grow: 1;
}
.nav-bar{
  display: flex;
}
.nav-bar li{
margin-left: 30px;
position: relative;
overflow: hidden;
}
li a{
  display: block;
  font-size: 18px;
  font-weight: 600;
}
li a::before{
content: "";
height: 2px;
width: 100%;
position: absolute;
background-color: #19c8fa;
bottom: 0;
right: 100%;
transition: all 0.3s linear;
}
a.active ,
.nav-bar li:hover a{
color: #19c8fa;
}
a.active::before,
.nav-bar li:hover a::before
{
right: 0;
}
